.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    align-items: center;

    p {
        color: #1C1C1C;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        width: 260px;
    }

    input {
        border: none;
        border-bottom: 1px solid #D8D8D8;
        margin-bottom: 30px;
        font-size: 12px;
        width: 260px;
        outline: none;
    }
}

.try {
    background: #F5F5F5;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 7px 7px 0 0;

    h5 {
        font-weight: 600;

        span {
            color: $coral;
            font-size: 20px;
            font-weight: 600;
            }
        }
}

.signUpForm {
    width: 360px;
    background: white;
    border-radius: 7px;
}


.radioButtons {
    width: 260px;
    display: flex;
}

.radioBtn {
    height: 20px;
    margin-right: 20px;
}

label.radioBtn {
    display: flex;
    align-items: center;

    span {
        color: black;
        font-size: 9px;
        margin-left: 5px;
    }
}

.radioBtn input {
    display: none;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    height: 13px;
    width: 13px;
    border: 1px solid $green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioBtn:hover input ~ .checkmark {
    border: 2px solid $green;
}

input:checked ~ .checkmark:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $green;
}

input:checked ~ span {
    font-weight: 600;
}

.getStarted {
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 0 0 7px 7px;
    margin-top: 30px;
    width: 100%;

    input {
        color: white;
        background: none;
        border: none;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        cursor: pointer;
    }
}