header {
    width: 100vw;
    background: $black;
    position: fixed;
    z-index: 9000;
    top: 0;
    
    .container {
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }  
}

#headerLogo {
    width: 120px;
    height: 50px;
    background-image: url(media/cheshire-county-hygiene-services-2.svg);
    background-position: center;
    background-size: cover;
}


.menuitem {
    margin-left: 40px;
    font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;

    &:hover{
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
        opacity: 1;
    }
}

.menuitem::before {
    transition: 400ms;
    content: "";
    position: absolute;
    background-color: $coral;
    height: 0%;
    width: 100%;
    bottom: -7px;
  }

.menuitem:hover::before {
    height: 5px;
}