header {
    width: 100vw;
    background: $black;
    position: fixed;
    z-index: 9000;
    top: 0;
    
    .container {
        min-height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 0 10px;
    }  
}

#headerLogo {
    width: 120px;
    height: 50px;
    background-image: url(media/cheshire-county-hygiene-services-2.svg);
    background-position: center;
    background-size: cover;
}

// .menu {
//     display: flex;
// }


.menuitem {
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #031D44;
    padding: 20px 0px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
    text-align: center;
    flex-wrap: 1;

    &:hover{
        text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
        opacity: 1;
    }
}

.menuitem::before {
    transition: 400ms;
    content: "";
    position: absolute;
    background-color: $coral;
    height: 0%;
    width: 100%;
    bottom: 15px;
    left: 0;
  }

.menuitem:hover::before {
    height: 5px;
}

.navButton {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    border: 2px solid $coral;
    display: none;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(media/menu-button-of-three-lines.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}



@media only screen and (max-width: $responsiveW) {
    .navButton {
        display: block;
        z-index: 9000;
    }

    header {
        .container {
            flex-direction: column;
            padding: 20px 0 0 0;
            overflow: hidden;
        }  
    }

    .menu {
        height: 0;
    }

    .menu_responsive {
        display: flex;
        flex-direction: column;
        height: auto;
    }
  }