section:nth-of-type(4) {
    background: $black;
    width: 100vw;
    padding: 50px 0 50px 0;
    
    .container {
        flex-direction: row;
        justify-content: space-between;
    }   
}

.aboutLogo {
    width: 390px;
    height: 170px;
    background-image: url(media/cheshire-county-hygiene-services-2.svg);
    background-position: center;
    background-size: cover;

}

.aboutContent {
    max-width: 460px;
    
    
    h4 {
        max-width: 315px;
        position: relative;
        margin-bottom: 56px;
    }

    h4:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        border-bottom: 2px solid $coral;
        transform: translateY(27px);
    }
}

.about {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.aboutSign {
    width: 50px;
    height: 50px;
    background: $coral;
    border-radius: 50%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    flex-shrink: 0;
}

#aboutEye {
    background-image: url(media/Path_81.svg);
}

#aboutTextBubble {
    background-image: url(media/Path_82.svg);
}

.aboutText {
    max-width: 400px;
}

.whiteSemiBold {
    font-weight: 600;
    margin-bottom: 6px;
}

@media only screen and (max-width: 950px) {
    .aboutLogo {
        width: 250px;
        height: 170px;
        background-image: url(media/cheshire-county-hygiene-services-2.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    
    }
}

@media only screen and (max-width: $responsiveW) {
    section:nth-of-type(4) {
        .container {
            flex-direction: column;
        }   
    }

    .aboutContent {
        h4 {
            margin-top: 30px;
        }
    }
}