section:nth-of-type(2) {

    .container {
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 0 50px 0;
    }

    h5 {
        margin-bottom: 5px;
    }

    p {
        max-width: 450px;
    }
}

.socialLogos {
    display: flex;
}

.socialLogo {
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .65;
    margin-right: 50px;
}

#facebook {
    background-image: url(media/facebook-logo-1.svg);
}

#instagram {
    background-image: url(media/instagram-logo-1.svg);
}
    
#tweeter {
    background-image: url(media/twitter-1.svg);
}

#pinterest {
    background-image: url(media/pinterest-1.svg);
    }

#rss {
    background-image: url(media/Group_92.svg);
}

@media only screen and (max-width: $responsiveW) {
    footer {

        .container {
            display: flex;
            max-width: 600px;
            flex-direction: column;
        }
    }

    .socialLogos {
        display: flex;


        .socialLogo {
            margin-right: 20px;
        }
    }
}