@import "colors";
@import "fonts";

@import "forms";

@import "header";

@import "section_intro";
@import "section_social";
@import "section_features";
@import "section_about";
@import "section_awesome";
@import "section_pricing";
@import "section_reviews";
@import "section_contact";
@import "section_footer";


* {
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid lightblue;
}

body {
    margin: 0;
}

.mainContent {
    margin-top: 72px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    .container {
        padding: 30px;
    }
  }