@import "colors";

* {
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid lightblue;
}

a {
    text-decoration: none;
    color: white;
}

p, span {
    font-weight: 400;
    color: white;
    font-size: 14px;
    margin: 0;
}

p.grey {
    color: $mediumGrey;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: white;
}


h3 {
    font-size: 36px;
    font-weight: 600;
}

h4 {
    font-size: 30px;
}

h5 {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

h6 {
    font-weight: 600;
}

body {
    margin: 0;

    header {
        width: 100vw;
        background: $black;
        position: fixed;
        z-index: 9000;
        top: 0;
        
        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;

            #headerLogo {
                width: 120px;
                height: 50px;
                background-image: url(media/cheshire-county-hygiene-services-2.svg);
                background-position: center;
                background-size: cover;
            }

            .menu {
                .menuitem {
                    margin-left: 45px;
                }
            }
        }
        
    }

    .mainContent {
        margin-top: 72px;
    }

    section:nth-of-type(1) {
        background-image: url(media/photo-1480714378408-67cf0d13bc1b-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;

        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .introduction {
                height: 640px;
                max-width: 650px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                #introductionLogo {
                    background-image: url(media/cheshire-county-hygiene-services-2.svg);
                    width: 245px;
                    height: 107px;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 22px;
                }

                h3 {
                    margin-bottom: 65px;
                    position: relative;
                    max-width: 430px;
                }

                h3:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 70px;
                    border-bottom: 2px solid white;
                    transform: translateY(20px);
                }

                h6 {
                    margin-bottom: 43px;
                    line-height: 23px;
                }

                .downloadButton {
                    width: 135px;
                    height: 42px;
                    border: 2px solid white;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        font-weight: 600;
                    }
                }
            }

            .signUpForm {
                width: 360px;
                background: white;
                border-radius: 7px;

                .try {
                    background: #F5F5F5;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    border-radius: 7px 7px 0 0;

                    h5 {
                        font-weight: 600;

                        span {
                            color: $coral;
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }

                .forms {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 30px;
                    align-items: center;


                    p {
                        color: #1C1C1C;
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 15px;
                        width: 260px;
                    }

                    input {
                        border: none;
                        border-bottom: 1px solid #D8D8D8;
                        margin-bottom: 20px;
                        font-size: 12px;
                        width: 260px;
                    }

                    .radioButtons {
                        width: 260px;
                        display: flex;

                        .radioBtn {
                            height: 20px;
                            margin-right: 20px;
                        }

                        label.radioBtn {
                            display: flex;
                            align-items: center;

                            span {
                                color: black;
                                font-size: 9px;
                                margin-left: 5px;
                            }
                        }

                        .radioBtn input {
                            display: none;
                            opacity: 0;
                            cursor: pointer;
                        }

                        .checkmark {
                            height: 13px;
                            width: 13px;
                            border: 1px solid $green;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .radioBtn:hover input ~ .checkmark {
                            border: 2px solid $green;
                        }

                        input:checked ~ .checkmark:after {
                            content: "";
                            display: block;
                            width: 11px;
                            height: 11px;
                            border-radius: 50%;
                            background: $green;
                        }

                        input:checked ~ span {
                            font-weight: 600;
                        }
                    }

                    .getStarted {
                        background: $green;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 60px;
                        border-radius: 0 0 7px 7px;
                        margin-top: 30px;
                        width: 100%;

                        input {
                            color: white;
                            background: none;
                            border: none;
                            font-size: 18px;
                            font-weight: 600;
                            margin: 0;
                            cursor: pointer;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    section:nth-of-type(1):before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0.63;
        z-index: -1;
    }

    section:nth-of-type(2) {
        .container {
            max-width: 1100px;
            height: 105px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                h5 {
                    margin-bottom: 5px;
                }
                p {
                    max-width: 400px;
                }
            }

            .socialLogo {
                height: 30px;
                width: 30px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: .65;
            }

            #facebook {
                background-image: url(media/facebook-logo-1.svg);
            }

            #instagram {
                background-image: url(media/instagram-logo-1.svg);
            }
            
            #tweeter {
                background-image: url(media/twitter-1.svg);
            }

            #pinterest {
                background-image: url(media/pinterest-1.svg);
            }

            #rss {
                background-image: url(media/Group_92.svg);
            }
        }
    }

    section:nth-of-type(3) {
        background-image: url(media/christoffer-engstrom-503481-unsplash-image.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 600px;
        }
    }

    section:nth-of-type(3):after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #6696E2 , #E27866);
        opacity: 0.42;
    }

    section:nth-of-type(4) {
        background: $black;
        width: 100vw;
        

        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 600px;

            .aboutLogo {
                width: 390px;
                height: 170px;
                background-image: url(media/cheshire-county-hygiene-services-2.svg);
                background-position: center;
                background-size: cover;

            }

            .aboutContent {
                max-width: 460px;
                
                
                h4 {
                    max-width: 315px;
                    position: relative;
                    margin-bottom: 56px;
                }

                h4:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 200px;
                    border-bottom: 2px solid $coral;
                    transform: translateY(27px);
                }

                .about {
                    margin-top: 45px;
                    display: flex;
                    justify-content: space-between;

                    .aboutSign {
                        width: 50px;
                        height: 50px;
                        background: $coral;
                        border-radius: 50%;
                        background-size: 50%;
                        background-position: center;
                        background-repeat: no-repeat;
                        margin-right: 20px;
                        flex-shrink: 0;
                    }

                    #aboutEye {
                        background-image: url(media/Path_81.svg);
                    }

                    #aboutTextBubble {
                        background-image: url(media/Path_82.svg);
                    }

                    .aboutText {
                        max-width: 400px;

                        .whiteSemiBold {
                            font-weight: 600;
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }

    section:nth-of-type(5) {
        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 600px;

            h3 {
                color: $black;
                position: relative;
                margin-bottom: 50px;
            }

            h3:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -30px;
                height: 100%;
                width: 60px;
                border-bottom: 2px solid $coral;
                transform: translateY(20px);
            }

            p {
                margin-bottom: 65px;
            }

            .awesomeThings {
                display: flex;
                justify-content: center;
                align-items: center;

                .awesomeThing {
                    margin-left: 50px;
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    max-width: 300px;

                    .awesomeSign {
                        width: 50px;
                        height: 50px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    #prize {
                        background-image: url(media/Group_74.svg);
                    }

                    #flower {
                        background-image: url(media/Group_73.svg);
                    }

                    #visaCard {
                        background-image: url(media/Group_72.svg);
                    }

                    h5 {
                        margin-top: 36px;
                        margin-bottom: 27px;
                    }
                }
            }
        }
    }

    section:nth-of-type(6) {
        background: $blue;

        .container {
            height: 800px;
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                position: relative;
                margin-bottom: 50px;
            }

            h3:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -30px;
                height: 100%;
                width: 60px;
                border-bottom: 2px solid $green;
                transform: translateY(20px);
            }

            .cards {
                margin-top: 80px;
                display: flex;

                .card {
                    width: 343px;
                    margin-left: 20px;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: flex-end;

                    .darkGreyBackground {
                        background: #333333;
                        border-radius: 7px 7px 0 0 ;

                        h5 {
                            color: white;
                            margin-top: 14px;
                            margin-bottom: 21px;
                        }

                        p {
                            margin-top: 14px;
                            margin-bottom: 19px;
                        }
    
                        .dollarSign {
                            font-size: 36px;
    
                            .price {
                                font-size: 94px;
                            }
                        }
                    }

                    .greenBlock {
                        border: 3px solid $green;
                        background: $green;

                        p {
                            margin-top: 11px;
                            margin-bottom: 11px;
                            text-transform: uppercase;
                        }
                    }

                    .whiteBackground {
                        background: white;
                        border-radius: 0 0 7px 7px;

                        p {
                            color: $mediumGrey;
                            margin-top: 11px;
                            margin-bottom: 11px;
                        }
                    }
                }
            }
        }
    }

    section:nth-of-type(7) {
        .container {
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                color: $black;
                position: relative;
                margin-bottom: 100px;
                margin-top: 100px;
            }

            h3:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -30px;
                height: 100%;
                width: 60px;
                border-bottom: 2px solid $blue;
                transform: translateY(20px);
            }
        }
    }

    section:nth-of-type(8) {
        background: $coral;

        .container {
            max-width: 1100px;
            height: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


        }
    }

    footer {
        background: $black;

        .container {
            max-width: 1100px;
            height: 124px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footerLogos {
                display: flex;

            }

            .socialLogo {
                height: 20px;
                width: 20px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 120px;
            }

            #facebook20 {
                background-image: url(media/facebook-logo-1.svg);
            }

            #instagram20 {
                background-image: url(media/instagram-logo-1.svg);
            }
            
            #tweeter20 {
                background-image: url(media/twitter-1.svg);
            }

            #pinterest20 {
                background-image: url(media/pinterest-1.svg);
            }

            #rss20 {
                background-image: url(media/Group_92.svg);
            }
        }
    }
}